html, body, div, span, object, iframe,
h1, h2, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* my code starts here */

html, body {
  width: 100%;
}

.index-nav {
  width: 100%;
  height: 60px;
}

.index-nav ul li span {
  font-size: 30px;
  color: #34888C;
  font-family: 'Kaushan Script', cursive;
  font-style: normal;
  font-weight: 400;
  padding-left: 1em;
  height: 100%;
  line-height: 60px;
  float: left;
  cursor: default;
}

.index-nav ul li a {
  line-height: 70px;
  text-decoration: none;
  color: #111;
  height: 100%;
  padding: 0 15px;
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  float: right;
  margin-right: 50px;
  display: none;
}

.index-nav ul li:nth-child(2) {
  margin-right: 50px;
}

.index-nav ul li a:hover {
  background-color: #f1f1f1;
  border-bottom: 6px solid #B4B7C7;
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #34888C;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-sidebar {
  position: fixed;
  right: 0;
  top: 60px;
  width: 0px;
  height: 210px;
  padding: 0;
  background: #464E41;
  z-index: 1000;
  opacity: 0;

  transition: all 0.5s ease-in-out;
}

.nav-sidebar ul {
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}

.nav-sidebar ul li a {
  display: block;
  line-height: 70px;
  padding: 0 0 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  letter-spacing: 3px;
  cursor: default;
  transition: all 1s ease-in-out;
}

.nav-sidebar ul li a:hover {
  background-color: #F5E356;
  color: #111;
}

header {
  background-image: url('../img/mobileheader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 390px;
  width: 100%;
  padding-bottom: 120px;
}

header h3 {
  color: #fff;
  float: right;
  margin-right: 70px;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: 'Kaushan Script', cursive;
  cursor: default;
}

header h1 {
  display: block;
  margin-top: 50px;
  letter-spacing: 6px;
  margin-left: 60%;
  font-size: 50px;
  color: #F5E356;
  font-family: 'Kaushan Script', cursive;
  cursor: default;
}

header p {
  display: none;
  cursor: default;
}

.about-me {
  width: 100%;
  background-color: #464E41;
  padding-bottom: 50px;
  transform-style: preserve-3d;
  transform: perspective(800px);
  overflow: hidden;
}

.about-me .img-choose {
  display: none;
}

.about-me h3 {
  color: #fff;
  font-size: 40px;
  padding: 50px 0 30px 0;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
}

.yellow-spacer {
  width: 70%;
  height: 3px;
  line-height: 3px;
  margin: 0 auto 10px;
  background-color: #F5E356;
  opacity: 0.8;
  border-radius: 5px;
}

.yellow-spacer-p {
  width: 88%;
  height: 3px;
  line-height: 3px;
  margin: 10px auto 10px;
  background-color: #F5E356;
  opacity: 0.8;
  border-radius: 5px;
}

.about-me p {
  padding-left: 1em;
  padding-right: 20px;
  font-family: arial;
  color: #fff;
  font-size: 25px;
  line-height: 47px;
}

.about-me h3, .about-me .img-choose, .about-me .about-me-p .yellow-spacer, .about-me .about-me-p .base, .about-me .about-me-p .yellow-spacer-p, .about-me .about-me-p .quote {
  transition: all 0.8s ease;
}

.about-me h3.hidden {
  opacity: 0;
  transform: translate3d(0, -400px, 0);
}

.about-me .img-choose.hidden {
  opacity: 0;
  transform: translate3d(400px, 0, 0);
}

.about-me .about-me-p .yellow-spacer.hidden {
  opacity: 0;
  transform: translate3d(-400px, 0, 0);
}

.about-me .about-me-p .base.hidden {
  opacity: 0;
  transform: translate3d(-400px, 0, 0);
}
.about-me .about-me-p .yellow-spacer-p.hidden {
  opacity: 0;
  transform: translate3d(-400px, 0, 0);
}
.about-me .about-me-p .quote.hidden {
  opacity: 0;
  transform: translate3d(-400px, 0, 0);
}


/* tablet resize */
@media screen and (min-width: 695px) {
  .index-nav {
    background-color: #fff;
  }
  .nav-sidebar {
    background: #1F5400;
  }
  header {
    background-image: url('../img/tabletheader.jpg');
    padding-top: 370px;
    padding-bottom: 140px;
  }
  .about-me {
    background-color: #1F5400;
  }
  header h3 {
    margin-right: 90px;
  }
  header h1 {
    margin-left: 75%;
    font-size: 60px;
  }
  .yellow-spacer-p {
    margin: 20px auto 20px;
  }
  .about-me p {
    padding-left: 2em;
    padding-right: 2em;
    line-height: 60px;
  }
}

/* desktop view */

@media screen and (min-width: 1000px) {
  body {
    background-color: #59BBBA;
  }
  .index-nav {
    height: 70px;
  }
  .index-nav ul li span {
    color: #4897D8;
    line-height: 70px;
    margin-left: 100px;
    padding-left: 0px;
    font-size: 40px;
    letter-spacing: 5px;
  }
  .index-nav ul li a {
    color: #4897D8;
    display: inline;
  }
  .hamburger {
    display: none;
  }
  header {
    background-image: url('../img/desktopheader.jpg');
    padding-bottom: 800px;
    padding-top: 90px;
  }
  header h3, header h1 {
    color: #fff;
    font-family: 'Happy Monkey', cursive;
    float: left;
    padding: 0px;
    margin: 0px;
    font-size: 90px;
    line-height: normal;
  }
  header h1 {
    padding-left: 26px;
  }
  header h3 {
    padding-left: 60px;
  }
  header p {
    display: block;
    color: #fff;
    font-family: 'Happy Monkey', cursive;
    float: right;
    margin: 600px 65px 0px 0px;
    font-size: 50px;
    line-height: normal;
  }
  .about-me {
    background-color: #59BBBA;
    height: auto;
    min-height: 90vh;
    padding-top: 10vh;
  }
  .about-me .about-me-wrapper {
    width: 75%;
    margin: 0 auto;
  }
  .about-me .img-choose {
    display: inline;
    float: left;
    margin-top: 2em;
  }
  .about-me .img-choose img:nth-child(1) {
    width: auto;
    height: 40vw;
    border-radius: 5px;
    box-shadow: 5px 3px 3px;
    margin-left: 20%;
    max-height: 550px;
  }
  .about-me .img-choose img:nth-child(2) {
    height: 70vh;
    border-radius: 5px;
    box-shadow: 5px 3px 3px;
    display: none;
  }
  hr {
    display: none;
  }
  .about-me-p {
    width: 50%;
    float: left;
    margin: 0 0 0 10%;
  }
}
