html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #111;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 33vw;
}



.container img:nth-child(1) {
  height: 99.6vh;
  width: auto;
  position: absolute;
}

.container img:nth-child(2) {
  height: 99.6vh;
  width: auto;
  position: absolute;
}

.container img:nth-child(3) {
  height: 99.6vh;
  width: auto;
  position: absolute;
}

.container img:nth-child(4) {
  height: 99vh;
  width: auto;
  position: absolute;
}

.hidden {
  opacity: 0;
}

.container img:nth-child(1), .container img:nth-child(2), .container img:nth-child(3), .container img:nth-child(4) {
  transition: all 2s ease;
}




#last, #next {
  line-height: 80px;
  height: 100%;
  width: 100px;
  z-index: 1000;
  cursor: default;
}

#last:hover, #next:hover {
  background-color: #1e1e1e;
}


#last {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 45vh;
  padding-right: 35px;
  padding-left: 10px;
}

#next {
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 45vh;
  padding-left: 35px;
  padding-right: 10px;
}
